*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.LHS{
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60vh;
    border: 2px solid;
    border-color: brown;
}
header{
    width: 100%;
    height: 300px;
    background: linear-gradient(65ged, yellow, white);

}
.LHS header img{
    width: 80px;
    height: 100px;
    
}